body{
    min-height:100vh;
    background-color:rgb(243, 243, 243);
    font-family: 'Lato';

}
#Main{
    padding:15px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-gap:15px;
}

#View .files{
    text-align: right;
}

h1{
    padding:15px;
}
h1 > a{
    color:black;
    text-decoration: none;
}

.btn{
    font-family: 'Lato';
    display:inline-block;
    margin:5px;
    padding:5px;
    background-color:white;
    text-transform: uppercase;
    font-weight: bold;
    color:black;
    text-decoration: none;
}

.thumbnail{
    background-color:white;
    display:grid;
    grid-template-rows: auto auto;
    align-items: center;
    
}
img{
    max-width: 100%;
    height:auto;
    display:block;
}

.cartouche{
    border:1px solid silver;
    align-self: end;
    
    display:flex;
    align-items: center;
}

.icon{
    width:50px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-right:1px solid silver;
}

.name{
    padding:5px;
}

a.thumbnail-folder{
    background-image:url('big-folder.png');
    background-size:contain;
    background-position:center center;
    background-repeat:no-repeat;
}

a.thumbnail-folder img{
    max-width:50%;
}

a.thumbnail{
    font-family:'Ubuntu mono';
    color:black;
    text-decoration: none;
}